/** all pages **/
header
{
    width: 100%;
    display: inline-block;
    
    
}

body
{
    
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    
}


input[type=radio] + label{
    
    background: #f80707;
    border-radius: 40px;
    border-color: #f80707;
    color: white;
    padding: 1%;
    
}

input[type=radio]:checked + label {
	background: #428bca;
	color: #fff;
}

input[type=radio] + label:hover {
	box-shadow: 0 0.25ex 1em rgba(0,0,0,.1) inset;
}

input[type=radio] {
	display: none;
}
 
#topbar{
    height: 2em;
    background: #4368E8;
    
}

#topbar img{
    width: 1em;
    
}

#topbar input{
    height: 50%;
    margin-left: 10em;
    border-radius: 1em;  
	text-align: center;
}

#topbar button{
    height: 100%;
    color: white;
    background: #4368E8;
    margin:0;
    
    
}


/** for home.html **/
#addPost{ 

    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
    width: 50%
   

}

#addPost input[type=text]{
    width: 100%;
    height: 5em;
    border-radius: 1em;
    
    
}

#post{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}


/** for comments **/
diva{ 
margin-left: 25%;
margin-top: 4px;
width: 50%;
color: blue;
border: 5px;
border-color: black;
border-style: solid;
word-wrap: break-word;
display: block;
    
}

diva image{
    width: 10%;
}
diva button{
    margin-left: 1em;
    
}


/** for kit.html **/
#Kit{

    width: 80%;
    margin-left: 10%;
    
}

/**
#Kit table, th, td{
    font-size: 1em;
    color: black;
    border-collapse:collapse;
    width: 10%;
    border: 1px solid #FF523B;
    
}
*/
#kitImage img{
    height: 3em;
}

#addKit{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    border: 1px solid black;    
}

#addKit input{
    border-radius: 1em;
    margin-left: 2em;
    
}


 div[id*=test]
{
    color: pink;
}


#imgUpload img{
	max-width: 10em;
	max-height: 10em;
}

/** for diveLogs.html **/ 

#diveLogs{
    align-content: center;
   /* width: 100%;
    border: 5px solid black;
    */
}

#adddLogs input{
    width: 5em;
}
#addLogs textarea{
    margin-top: 2em;
    
}

#diveLogs table {
    font-size: 1em;
    color: brown;
}

#diveLogs td,th{
    margin: 2%;
    padding-top: 2%;
    text-align: left;
    width: 10%;
    
    
    
}

#addLogs input{
    
    border-radius: 1em;
    margin-left: 2em;
    margin-top: 1em;
    
}

#addLogs{
    margin-top: 2em;
    margin-bottom: 2em;
    
    
}

/** for challanges.html **/

#addChallange{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid;
    height: 20vh;
    max-height: 30%;
    overflow-x: auto;
}

#addChallange input{
    width: 20em;
}

#addChallange textarea{
    margin-top: 2em;
    
}

#addChallange table {
    font-size: 1em;
    color: brown;
}

#addChallange td,th{
    margin: 2%;
    padding-top: 2%;
    text-align: left;
    width: 10%;
}

#addChallange input{
    
    border-radius: 1em;
    margin-left: 2em;
    margin-top: 1em;
}

#myChallanges{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid;
    height: 40vh;
    max-height: 30%;
    overflow-x: auto;
}

#PopularChallanges{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 40vh;
    max-height: 30%;
    border: solid; 
    overflow-x: auto;
    
}
/** for Challange.html **/
#challangeName{
    text-transform: uppercase;
    font-size: 4em;
    border: solid;
    align-content: center;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

#challangeImages{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    
}

#challangeDescription{
    margin-top: 2vh;
    border: solid;
    height: 20vh;
}

#challangeComments{
    margin-top: 2vh;
    border: solid;
    
    
}

/** for sites.html **/

#location{
    border: solid;
    height: 80vh;
    height: 80vh;
    
}
#locationInput
{
	display:none; 
}


/* image upload stuff */

input[type=file] {
	color: white;
}