header
{
    width: 100%;
    display: inline-block;
    
    
}

body
{
    
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    
}


input[type=radio] + label{
    
    background: #f80707;
    border-radius: 40px;
    border-color: #f80707;
    color: white;
    padding: 1%;
    
}

input[type=radio]:checked + label {
	background: #428bca;
	color: #fff;
}

input[type=radio] + label:hover {
	box-shadow: 0 0.25ex 1em rgba(0,0,0,.1) inset;
}

input[type=radio] {
	display: none;
}
 

#addPost{ 

    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
    width: 50%
   

}

#addPost input[type=text]{
    width: 100%;
    height: 5em;
    border-radius: 1em;
    
    
}


diva{ 
margin-left: 25%;
margin-top: 4px;
width: 50%;
color: blue;
border: 5px;
border-color: black;
border-style: solid;
word-wrap: break-word;
display: block;
    
}

diva image{
    width: 10%;
}
diva button{
    margin-left: 1em;
    
}

#topbar{
    height: 2em;
    background: #4368E8;
    
}

#topbar img{
    width: 1em;
    
}

#topbar input{
    height: 50%;
    margin-left: 10em;
    border-radius: 1em;    
}

#topbar button{
    height: 100%;
    color: white;
    background: #4368E8;
    margin:0;
    
    
}

#post{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    
}

#Kit{

    width: 80%;
    margin-left: 10%;
    
}

/**
#Kit table, th, td{
    font-size: 1em;
    color: black;
    border-collapse:collapse;
    width: 10%;
    border: 1px solid #FF523B;
    
}
*/
#kitImage img{
    height: 3em;
}

#addKit{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    border: 1px solid black;    
}

#addKit input{
    border-radius: 1em;
    margin-left: 2em;
    
}


 div[id*=test]
{
    color: pink;
}

#diveLogs{
    align-content: center;
   /* width: 100%;
    border: 5px solid black;
    */
}

#adddLogs input{
    width: 5em;
}
#addLogs textarea{
    margin-top: 2em;
    
}

#diveLogs table {
    font-size: 1em;
    color: brown;  
}

#diveLogs td,th{
    margin: 2%;
    padding-top: 2%;
    text-align: left;
    width: 10%;
    
    
    
}

#addLogs input{
    
    border-radius: 1em;
    margin-left: 2em;
    margin-top: 1em;
    
}

#addLogs{
    margin-top: 2em;
    margin-bottom: 2em;
    
    
}
